<p id="notice"><%= notice %></p>

<p>
  <b> type of legal entity:</b>
  <%= @form.type_of_legal_entity %>
</p>

<p>
  <b>Company:</b>
  <%= @form.company %>
</p>

<p>
  <b>Creator name:</b>
  <%= @form.creator_name %>
</p>

<p>
  <b>Registered address:</b>
  <%= @form.registered_address %>
</p>

<p>
  <b>Actual address:</b>
  <%= @form.actual_address %>
</p>

<p>
  <b>address on english:</b>
  <%= @form.address_on_english %>
</p>

<p>
  <b>Phone:</b>
  <%= @form.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @form.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @form.email %>
</p>

<p>
  <b>Inn:</b>
  <%= @form.inn %>
</p>

<p>
  <b>Kpp:</b>
  <%= @form.kpp %>
</p>

<p>
  <b>Ogrn:</b>
  <%= @form.ogrn %>
</p>

<p>
  <b>Bank name:</b>
  <%= @form.bank_name %>
</p>

<p>
  <b>Current account:</b>
  <%= @form.current_account %>
</p>

<p>
  <b>Correspondent account:</b>
  <%= @form.correspondent_account %>
</p>

<p>
  <b>Bik:</b>
  <%= @form.bik %>
</p>

<p>
  <b>Bank person:</b>
  <%= @form.bank_person %>
</p>

<p>
  <b>Type of certificate:</b>
  <%= @form.type_of_certificate %>
</p>

<p>
  <b>Auditors name:</b>
  <%= @form.auditors_name %>
</p>

<p>
  <b>Categories list of works:</b>
  <%= @form.categories_list_of_works %>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
