<!DOCTYPE html>
<html>
<head>
  <title>Сертификаты</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= @page_title || "Сертификаты" %>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
        <%= content_tag(:li, link_to("Домашняя страница", home_path, :id => ("current_page" if current_page? home_path) ) ) %>
        <%= content_tag(:li, link_to("Формы", forms_path, :id => ("current_page" if current_page? forms_path) ) ) %>
        <%= content_tag(:li, link_to("Категории", categories_path, :id => ("current_page" if current_page? categories_path) ) ) %>
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      Copyright by Vladislav Petrov 2013
    </div>
  </div>
</body>
</html>
